.top-container{
    background-color: #C2E2FA;
    position: relative;
    padding-top: 100px;
    min-height: 90vh;
}
.top-butterflies{
    position: absolute;
    left: 0px;
    top: 0px;   
    width: 150px;
}
.cup-with-butterfly {
    width: 458px;
    height: auto;
    bottom: 100px;
    top: 2px;
    right: 150px;
    position: absolute;
}
h1 {
    color: #14213D;
    font-family: Snell Roundhand, cursive;
    font-size: 4.6rem;
    margin: 50px auto 0 auto;
    display: block;
    margin-block-start: 0.68em;
    margin-block-end: 0.18em;
    margin-inline-start: 0px;
    margin-inline-end: 300px;
    font-weight: bold;
    padding-top: 90px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.h2-containertop {
    color: #14213D;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    font-family:Optima, sans-serif;
    height: 46px;
    display: block;
    margin-block-start: 0.13em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 300px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.text-title {
    text-align: center;
}
.pro {
text-decoration: underline;
}
.middle-container {
margin: 100px 0;
}
img {
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;       /* Centers and adds space below */
    object-position: 50% 20%;
}
body {
    text-align: center;
}
.profile-img {
    color: #14213D;
    font-family:Optima, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
hr {
border: dotted #eaf6f6 6px;
border-bottom: none;
width: 4%;
margin: 100px auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 2;
}
.intro {
width: 30%;
margin: auto;
}
